<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.isoftstone.smartsite">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />

    <!--tools:replace="android:icon, android:label, android:theme"-->
    <application
        android:name=".common.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2bbb674749feb50c096e27343e2d37a4"></meta-data>
        <!--  guowei -->
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait">



        </activity>
        <activity android:name=".model.main.ui.AirMonitoringActivity"/>
        <activity android:name=".model.main.ui.PMDevicesListActivity"/>
        <activity android:name=".model.main.ui.PMDataInfoActivity"/>
        <activity android:name=".model.main.ui.PMHistoryInfoActivity"/>
        <activity android:name=".LoginActivity2"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name=".model.main.ui.VideoMonitoringActivity" android:configChanges="orientation|keyboardHidden|screenSize" android:launchMode="singleTask"/>

        <activity android:name=".model.video.VideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity android:name=".model.video.VideoRePlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".model.video.VideoRePlayListActivity" android:configChanges="orientation|keyboardHidden|screenSize" android:launchMode="singleTask"/>

        <!--  guowei -->
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <!--yanyongjun begin-->
        <activity
            android:name=".model.message.ui.DetailsActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".model.tripartite.activity.TripartiteActivity"
            android:launchMode="singleTask">
        </activity>

        <activity android:name=".model.tripartite.activity.CheckReportActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".model.message.ui.VcrActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".model.message.ui.EnvironActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".model.message.ui.TripartiteMsgActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".model.message.ui.UnReadMsgActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".model.tripartite.activity.AddReportActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".model.tripartite.activity.ReadReportActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".model.tripartite.activity.ReplyReportActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".model.tripartite.activity.RevistReportActivity"
            android:launchMode="singleTask"></activity>

        <!--yanyongjun end-->

        <!--zhangyinfu begin-->
        <activity android:name=".model.system.ui.PermissionsActivity"></activity>

        <service android:name="com.uniview.airimos.service.KeepaliveService"/>

        <service android:name=".common.NewKeepAliveService"/>

        <activity android:name=".model.system.ui.AboutUsActivity" android:launchMode="singleTask"></activity>

        <activity android:name=".model.system.ui.OpinionFeedbackActivity" android:launchMode="singleTask"></activity>

        <activity android:name=".model.system.ui.SettingsActivity" android:launchMode="singleTask"></activity>
        <!--zhangyinfu end-->

        <!--zhangwei begin-->
        <activity android:name=".model.map.ui.VideoMonitorMapActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".model.map.ui.MapSearchActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".model.main.ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.isoftstone.smartsite.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <!--元数据-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service android:name=".model.map.service.DownloadAPKService"></service>
        <!--zhangwei end-->
    </application>

</manifest>